[tool.poetry]
name = "mipdb"
version = "0.0.4"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.8"
SQLAlchemy = "~1.3.0"
sqlalchemy_monetdb = "~1.0.0"
pandas = "~1.2.3"
pandera = "~0.8.0"
click = "<8.0"
docker = "^5.0.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.3"
pytest-xdist = "^2.2.1"
ipython = "^7.22.0"
pdbpp = "^0.10.2"
black = "^20.8b1"
pre-commit = "^2.11.1"
coverage = {extras = ["toml"], version = "^5.5"}
pytest-cov = "^2.12.0"
pylint = "^2.8.2"
rope = "^0.19.0"

[tool.poetry.scripts]
mipdb = "mipdb.commands:entry"

[tool.pytest.ini_options]
markers = [
    "database: these tests depend on an external dockerized MonetDB service running (deselect with '-m \"not database\"')",
]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.coverage.run]
source = ['mipdb']
dynamic_context = 'test_function'

[tool.coverage.report]
exclude_lines = ['def __repr__', 'raise NotImplementedError', 'pragma: no cover', 'pass']
show_missing = true

[tool.coverage.html]
show_contexts = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
